:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --box-shadow-1: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  --box-shadow-2: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

input {
  font-family: "Poppins", sans-serif; }

html {
  font-family: "Poppins", sans-serif; }

.heading-secondary {
  font-size: 5rem;
  line-height: 1.1; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162%; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1.8rem; }

.attribution a {
  color: #3e52a3; }

.container {
  max-width: 144rem;
  height: 100%;
  padding: 0 16.5rem; }

.section-signup {
  width: 100vw;
  height: 80rem;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--red);
  background-size: cover;
  background-repeat: no-repeat; }

.signup {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; }
  .signup__text {
    flex: 0 1 52.5rem;
    color: #fff;
    margin-right: 4.5rem; }
  .signup__header {
    margin-bottom: 2.5rem; }
  .signup__form {
    flex: 0 1 54rem; }
  .signup__form-header {
    color: #fff;
    background-color: var(--blue);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow-1);
    margin-bottom: 2.4rem; }
    .signup__form-header--bold {
      font-weight: 700; }

.form {
  height: auto;
  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1); }
  .form__item {
    width: 100%;
    position: relative;
    transition: all 0.2s; }
  .form__input {
    z-index: 10;
    width: 100%;
    height: 5.6rem;
    padding: 1.5rem 3.2rem;
    border: 1px solid #dedede;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.86;
    font-weight: 600;
    transition: all 0.2s; }
    .form__input:focus {
      border-color: var(--blue); }
  .form__icon-error {
    position: absolute;
    top: 18%;
    right: 6%;
    opacity: 0; }
  .form__input-label {
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    color: var(--red);
    position: absolute;
    right: 0;
    bottom: 18%;
    opacity: 0;
    transition: opacity 0.2s; }
  .form__submit {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 1.5rem;
    background-color: var(--green);
    box-shadow: var(--box-shadow-2);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.73;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: 1; }
    .form__submit:hover {
      opacity: 0.7; }
  .form__terms {
    color: var(--grayish-blue);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center; }
    .form__terms--link:link, .form__terms--link:visited {
      text-decoration: none;
      font-weight: 700;
      color: var(--red);
      transition: color 0.2s; }
    .form__terms--link:hover, .form__terms--link:active {
      color: var(--blue); }
  .form__item.validate .form__input:invalid {
    border: 2px solid var(--red);
    margin-bottom: 4rem; }
    .form__item.validate .form__input:invalid + .form__icon-error,
    .form__item.validate .form__input:invalid + .form__icon-error + .form__input-label {
      opacity: 1; }
